---
import { Code } from 'astro-expressive-code/components'
import headCode from '../components/head.astro?raw'
import Nav from '../components/nav.astro'
import ThemeToggleButton from '../components/theme-toggle-button.astro'
import buttonCode from '../components/theme-toggle-button.astro?raw'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="instructions">
    <ThemeToggleButton />
  </div>
  <Nav />

  <div style="display: flex; flex-direction: column; gap: 20px;">
    <Code code={buttonCode} lang="astro" title="theme-toggle-button.astro" />
    <Code code={headCode} lang="astro" title="head.astro" />
  </div>
</Layout>
