---
import type { HTMLAttributes } from 'astro/types'

import IconSunSvg from './icons/lucide-sun.astro'
import IconMoonSvg from './icons/lucide-moon.astro'

type Props = HTMLAttributes<'div'>
const props: Props = Astro.props
---

<astro-theme-toggle {...props}>
  <div class="astro-theme-toggle-icon-light">
    <slot name="icon-light">
      <IconSunSvg />
    </slot>
  </div>
  <div class="astro-theme-toggle-icon-dark">
    <slot name="icon-dark">
      <IconMoonSvg />
    </slot>
  </div>
</astro-theme-toggle>

<script>
  import { handleToggleClick } from './handle-toggle-click'

  class AstroThemeToggle extends HTMLElement {
    connectedCallback() {
      this.addEventListener('click', handleToggleClick)
    }
  }

  customElements.define('astro-theme-toggle', AstroThemeToggle)
</script>

<style is:global>
  astro-theme-toggle {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  .astro-theme-toggle-icon-light,
  .astro-theme-toggle-icon-dark {
    width: 100%;
    height: 100%;

    & * {
      display: block;
    }
  }

  .astro-theme-toggle-icon-light {
    display: block;

    .dark & {
      display: none;
    }
  }

  .astro-theme-toggle-icon-dark {
    display: none;

    .dark & {
      display: block;
    }
  }
</style>
