---
import type { HTMLAttributes } from 'astro/types'

import IconSunSvg from './icons/lucide-sun.astro'
import IconMoonSvg from './icons/lucide-moon.astro'

type Props = HTMLAttributes<'button'>
const props: Props = Astro.props
---

<button id="astro-theme-toggle" {...props}>
  <div class="astro-theme-toggle-icon-light">
    <slot name="icon-light">
      <IconSunSvg />
    </slot>
  </div>
  <div class="astro-theme-toggle-icon-dark">
    <slot name="icon-dark">
      <IconMoonSvg />
    </slot>
  </div>
</button>

<script>
  import { handleToggleClick } from './handle-toggle-click'
  const addListener = () => {
    document
      .getElementById('astro-theme-toggle')
      ?.addEventListener('click', handleToggleClick)
  }
  addListener()
  document.addEventListener('astro:after-swap', addListener)
</script>

<style is:global>
  :where(#astro-theme-toggle) {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  .astro-theme-toggle-icon-light,
  .astro-theme-toggle-icon-dark {
    width: 100%;
    height: 100%;

    & * {
      display: block;
    }
  }

  .astro-theme-toggle-icon-light {
    display: block;

    .dark & {
      display: none;
    }
  }

  .astro-theme-toggle-icon-dark {
    display: none;

    .dark & {
      display: block;
    }
  }
</style>
